<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <a href="/" class="navbar-brand">Blog</a>
  <ul class="navbar-nav navbar-expand-sm mr-auto">
    <li><a class="nav-link" href="/admin/categories">categorias</a></li>
    <li><a class="nav-link" href="/admin/articles">Artigos</a></li>
  </ul>
  <ul class="navbar-nav navbar-expand-sm ml-auto">
    <li><a class="nav-link" href="/logout">Logout</a></li>
  </ul>
</nav>